.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}

.legend {
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}


input[type=range] {
    width:200px;
    height:0px;
    position: absolute;
    border-radius: 0px;
}
.overlapping {
    margin-top:0px;
}

input[type=range] {
    pointer-events: none;
}

input[type=range]::-webkit-slider-thumb {
    pointer-events:auto;
}

input[type=range].overlapping::-webkit-slider-runnable-track {
    border: none;
    border-radius: 0px;
    touch-action: none;
    background: rgba(0,0,0,0);
}

span.text_style {
    color: orange;
    font-weight: bold;
    font-size: 12px;
    margin: 0;
    padding: 0;
}